@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-justify {
    text-align: justify;
  }
}

body {
  @apply bg-purple-950 bg-no-repeat bg-center bg-cover text-black min-h-screen flex flex-col;
  background-image: url('/fondo.jpg');
}

main {
  @apply flex-grow;
}

footer {
  @apply bg-gray-100 text-center p-4 border-t border-gray-200;
}

@layer utilities {
  @keyframes zoom-in {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }

  .zoom-in-effect {
    animation: zoom-in 0.5s forwards;
  }
}

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
